@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
:root {
    --color-primario: blue;
}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    color: var(--color-primario);
}
a {
    text-decoration: none;
    font-size: 2em;
    font-family:inherit;
    color: inherit;
}

header, footer {
    font-family: 'Releway', sans-serif;
    color: var(--color-primario);
}
ul,ol {
    list-style-type: none;
}

p {
    font-size: 18em;
}

.container{
    max-width: 1200px;
    margin:0 auto;
}